:root {
  --progress-bar-width: 100px;
  --progress-bar-height: 100px;
  --font-size: 0.5rem;
  --primary-color: #474f7a;
  --secondary-color: #535c91;
  --tertiary-color: #708993;
  --on-background: #474f7a;
  --background: #e7f2ef;
    background-color: #e7f2ef;
  background-image: url('data:image/svg+xml,<svg height="50" width="200" xmlns="http://www.w3.org/2000/svg"><polyline points="0,50 50,10 100,50 150,10 200,50 250,10 300,50 350,10 400,50" fill="none" stroke="%23A1C2BD" stroke-opacity="0.4" stroke-width="10"/></svg>');
  background-size: 50px 25px;

}
[data-theme="dark"] {
  --primary-color: #708993;
  --secondary-color: #474f7a;
  --background: #1e1e1e;
  --tertiary-color: #535c91;
  --on-background: #e7f2ef;
    background-color: #1e1e1e;
  background-image: url('data:image/svg+xml,<svg height="50" width="200" xmlns="http://www.w3.org/2000/svg"><polyline points="0,50 50,10 100,50 150,10 200,50 250,10 300,50 350,10 400,50" fill="none" stroke="%233d3d3d" stroke-opacity="0.4" stroke-width="10"/></svg>');
  background-size: 50px 25px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

.modal {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--background);
  color: var(--primary-color);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: var(--primary-color);
  float: right;
  margin-top: -1rem;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}

.nav {
  height: 1.75em;
  background-color: var(--primary-color);
  margin-bottom: 0.25em;
}

.options {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-top: 0.2rem;
  justify-content: space-around;
}

.options > li {
  color: aliceblue;
  font-size: small;
}

#openModal {
  cursor: pointer;
}

.input-container {
  margin: 0.5rem;
  justify-self: center;
  grid-area: 1/2/2/3;
}

.main {
  display: block;
  position: relative;
  margin: 1.5rem;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(112, 137, 147, 0.4);
}

.guess {
  display: flex;
  align-content: center;
  justify-content: center;
}

.progress {
  width: 500px;
  overflow: hidden;
  background-color: var(--primary-color);
  margin: auto;
  display: flex;
  border-radius: 10px;
}

@media (max-width:480px) {
  .progress {
    width: 300px;
  }
}

#remaining {
  width: 100%;
  height: 1rem;
  border-radius: 10px;
  background-color: var(--tertiary-color);
  place-items: center;
  transition: width 1s ease-in-out;
  animation-timing-function: ease;
}

#countdown {
  width: 50px;
  font-size: 0.75rem;
  margin-left: 20px;
  color: aliceblue;
  justify-content: right;
  text-align: center;

  display: flex;

}

#input {
  border-radius: 20px;
  padding: 1rem;
  margin: 0.25rem;
}

::placeholder {
  color: #000;
  opacity: 1;;
}

#input:disabled {
  background-color: rgba(211, 211, 211, 0.5);

}

.game-info {
  display: grid;
  grid-template-columns: .25fr 1fr .25fr;
  place-items: center;
}

#timer {
  grid-area: 1/1/2/2;
  display: inline-flex;
  gap: 5px;
}

#level-up {
  display: none;
}

#stopBtn {
  display: none;
}

.debug {
  display: none;
}

#debug {
  width: 100px;
  margin: 0.25rem;
}

.level {
  height: fit-content;
  background-color: var(--primary-color);
  padding: 5px;
  margin: .5rem;
  border-radius: 5px;
  color: aliceblue;
  width: fit-content;
  align-self: center;
  justify-content: center;
  grid-area: 1/2/2/3;
  display: grid;
}

#level-score {
  list-style-type: none;
  display: flex;
  height: 1.25em;
  color: aliceblue;
  width: 200px;
  font-size: small;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  background-clip: text;
}


.wrapper {
  /* width: 200px; */
  display: flex;
}

#level-score > .wrapper > li {
  margin-right: 5px;
}

.shimmer {
position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Create the gradient: transparent -> light-gray -> transparent */
    background: linear-gradient(to right, 
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    /* Start the gradient far left, outside the visible area */
    transform: translateX(-100%); 
    /* Apply the animation */
    animation: shimmer 1.5s linear;
    animation-iteration-count: 2;
}


.starter {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
}

@media (min-width:768px) {
  .tile-container {
  height: 80px;
  display: flex;
  margin: auto;
  padding-bottom: 1rem;
}
}

.tile-container {
  height: 40px;
  display: flex;
  margin: auto;
  padding-bottom: 1.5rem;
  /* grid-area: 1/1/2/2; */
  position: relative;
}

.tile {
  width: 40px;
  height: 40px;
  position: absolute;
  font-size: small;
  text-align: center;
  align-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: seashell;
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
  transition: transform 1s ease-in-out;
  text-transform: uppercase;
  flex-basis: auto;

  /* padding: 1.5rem; */
}

@media (min-width:768px){
.tile {
  width: 80px;
  height: 80px;
  position: absolute;
  text-align: center;
  align-content: center;
  font-size: medium;
  background-color: var(--primary-color);
  color: seashell;
  border: 2px solid rgba(255, 255, 255, 0.4);
  /* padding: 1rem; */
  box-sizing: border-box;
  border-radius: 10px;
  transition: transform 1s ease-in-out;
  text-transform: uppercase;
  flex-basis: 100%;
}
}


.blanks {
  display: grid;
  grid-template-rows: repeat(10, auto);
  grid-auto-flow: column;
  padding: 1rem;
  margin: 1rem;
  gap: 3px;
  border-radius: 10px;
  justify-content: space-around;
  background-color: rgba(255,255,255, 0.2)
}


.letters {
  font-size: x-large;
  text-transform: uppercase;
  color: var(--on-background);
}

@media (max-width:480px) {
  .letters {
    font-size: large;
  }
}

.letters.pulse-text {
  animation: pulse 2s;
  animation-iteration-count: 1;
  display: inline-block;
}

@keyframes pulse {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.25)
  }
  100% {
    transform: scale(1)
  }
}

.btn2 {
  font-family: 'Roboto';
  cursor: pointer;
  position: relative;
  padding: 8px 32px;
  border: none;
  border-radius: 28px;
  background: #474f7a;
  overflow: hidden;
  color: white;
  height: fit-content;
  transition: 0.3s all;
}

.btn2:hover {
  background-color: var(--tertiary-color);
}

.btn2::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  transform: skewX(-20deg);
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 150%; /* Move the shimmer completely across and past the button */
  }
}

.label {
  background-color: var(--primary-color);
  border-radius: 2px;
  padding: 1px;
  color: aliceblue;
  font-family: 'Roboto';
}



.btn {
  font-family: 'Roboto';
  position: relative;
  background-color: #474f7a;
  border-radius: 28px;
  padding: 16px 31px;
  border: 1px solid #535c91;
  cursor: pointer;
  color: #ffffff;
  overflow: hidden;
  height: fit-content;
}

.btn:hover {
  background-color: var(--tertiary-color);
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn#start::before{
 content: '';
 position: absolute;
 top: 0;
 left: -100%;
 width: 50%;
 height: 100%;
}

.btn#start:hover::before {
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.4), rgba(255,255,255,0));
  transform: skewX(-20deg);
  animation: shimmer 1.5s infinite linear;
}

@media (max-width:480px) {
 .btn {
  font-family: 'Roboto';
  position: relative;
  background-color: #474f7a;
  border-radius: 28px;
  padding: 10px 21px;
  border: 1px solid var(--tertiary-color);
  cursor: pointer;
  color: #ffffff;
  overflow: hidden;
  height: fit-content;
  }
}

.btn3 {
  font-family: 'Roboto';
  position: relative;
  background-color: #474f7a;
  border-radius: 28px;
  padding: 10px 21px;
  border: 1px solid #535c91;
  cursor: pointer;
  color: #ffffff;
  overflow: hidden;
  height: fit-content;
}

.btn3:hover {
  background-color: var(--tertiary-color);
}

.btn3:active {
  position: relative;
  top: 1px;
}


.toggle {
	cursor: pointer;
	display: inline-block;
}
.toggle-switch {
	display: inline-block;
	background: #ccc;
	border-radius: 16px;
	width: 58px;
	height: 32px;
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
	&:before,
	&:after {
		content: "";
	}
	&:before {
		display: block;
		background: linear-gradient(to bottom, #fff 0%,#eee 100%);
		border-radius: 50%;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
		width: 24px;
		height: 24px;
		position: absolute;
		top: 4px;
		left: 4px;
		transition: left 0.25s;
	}
	.toggle:hover &:before {
		background: linear-gradient(to bottom, #fff 0%,#fff 100%);
		box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
	}
	.toggle-checkbox:checked + & {
		background: green;
		&:before {
			left: 30px;
		}
	}
}
.toggle-checkbox {
	position: absolute;
	visibility: hidden;
}
.toggle-label {
	margin-left: 5px;
	position: relative;
	top: 2px;
}

.gameSettings {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(auto, 1fr);
grid-column-gap: 0px;
grid-row-gap: 5px;
margin-top: 1rem;
font-size: small;
}

@media (max-width:480px) {
  .gameSettings {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
  }
}

input[type="number"] {
  width: 35px; 
}

.decoy {
  background-color: #fa6964;
}

.reveal {
  background-color: #8a92d4;
}

.optionsInfo {
  font-size: small;
}

.toast {
    position: fixed;
    top: 125px;
    right: 25px;
    max-width: 300px;
    background: lightgreen;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: -1px 1px 10px
        rgba(0, 0, 0, 0.3);
    z-index: 5;
    animation: slideInRight 0.3s
            ease-in-out forwards,
        fadeOut 0.5s ease-in-out
            forwards 3s;
    transform: translateX(110%);
}

.toast.closing {
    animation: slideOutRight 0.5s
        ease-in-out forwards;
}

.toast-progress {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: green;
    animation: toastProgress 3s
        ease-in-out forwards;
}

.toast-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toast-icon {
    padding: 0.35rem 0.5rem;
    font-size: 1.5rem;
}

.toast-message {
    flex: 1;
    font-size: 0.9rem;
    color: #000000;
    padding: 0.5rem;
}

@keyframes slideInRight {
    0% {
        transform: translateX(110%);
    }

    75% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(110%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes toastProgress {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

#warning {
  text-align: center;
  color: var(--on-background)
}

.theme-switch-wrapper {
  width: fit-content;
  height: fit-content;

  left: .75rem;
  position: relative;
}

.toggle-theme {
  display: none;
  position: absolute;
}

.fa-moon {
  color: palegoldenrod;
  font-size: x-small;
}

.fa-sun {
  color: goldenrod;
  font-size: x-small;
}

.slider-label {
  background-color: skyblue;
  width: 25px;
  height: 10px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 500ms linear;
}

.slider-label .ball {
  background-color: #fff;
  width: 11px;
  height: 11px;
  position: absolute;
  left: 5px;
  top: 4px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.toggle-theme:checked + .slider-label .ball {
  transform: translateX(14px);
}

.toggle-theme:checked + .slider-label {
  background-color: navy;
  transition: background-color 500ms linear;
}